<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <section class="section">
        <div class="data_form">
            <div class="logo">
                <h2>JK</h2>
            </div>
            <div class="title">
                <h4>edit</h4>
            </div>
            {{#if messages.error}}
            <div id="err_mass">
                <span>{{messages.error}}</span>
            </div>
            {{/if}}
            <form action="/update" method="POST">
                <div class="input_fuild">
                    <div class="input_item">
                        <i class="fas fa-user icon"></i>
                        <input type="hidden" name="id" value="{{edit_post._id}}">
                        <input type="text" placeholder="Name" name="name" value="{{edit_post.name}}">
                    </div>
                    <div class="input_item">
                        <i class="fas fa-phone-alt icon"></i>
                        <input type="text" placeholder="number" name="number" value="{{edit_post.number}}">
                    </div>
                    <button type="submit" class="submit_btn">update</button>
                </div>
            </form>
        </div>
    </section>
</body>

</html>