{{!-- =============================
        sidebar section start
=============================== --}}
<header>
    <nav>
        <div class="nav_title">
            <a href="#" class="nav_icon"><h2>note book</h2></a>
        </div>
        <button id="mobile_btn">
            <i class="fas fa-angle-double-right"></i>
        </button>
        <div class="user_ditails">
            <div class="user_img">
                <img src="./img/face_co.png" alt="user">
            </div>
            <h3 class="user_name">junayed</h3>
        </div>
        <ul class="nav_bar">
            <li><a href="#" class="nav_item"><i class="fas fa-layer-group"></i>Dashboard</a></li>
            <li><a href="#" class="nav_item"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="#" class="nav_item"><i class="fas fa-sliders-h"></i>Settings</a></li>
        </ul>
    </nav>
    <div class="logout">
        <a href="/logout" class="logout_btn"><i class="fas fa-sign-out-alt"></i>logout</a>
    </div>
</header>
{{!-- =============================
        sidebar section end
=============================== --}}

{{!-- =============================
        main section start
=============================== --}}
<main>

</main>
{{!-- =============================
        main section end
=============================== --}}