    <!--===================================
        login sectoion start
    =================================== -->
    <div class="from">
        <div class="logo">
            <h2>JK</h2>
        </div>
        <div class="title">
            <h4>login form</h4>
        </div>
        {{#if messages.error}}
        <div id="err_mass">
            <span>{{messages.error}}</span>
        </div>
        {{/if}}
        <form action="/login" method="POST">
            <div class="form_fuild">
                <div class="input_item">
                    <i class="fas fa-user icon"></i>
                    <input type="text" placeholder="Email" name="email">
                </div>
                <div class="input_item">
                    <i class="fas fa-lock icon"></i>
                    <input type="password" placeholder="Password" id="password" name="password">
                    <i class="fas fa-eye show"></i>
                </div>
                <a href="/forgot" class="forgot_pass">forgot password ?</a>
                <button type="submit" class="submit_btn">Log In</button>
            </div>
        </form>
        <div class="btn">
            <p>I have no account</p>
            <a href="/register">create account</a>
        </div>
    </div>
    <!--===================================
        login sectoion end
    =================================== -->