    <!--===================================
        login sectoion start
    =================================== -->
    <section class="section">
        <div class="register_form">
            <div class="logo">
                <h2>JK</h2>
            </div>
            <div class="title">
                <h4>register form</h4>
            </div>
            {{#if messages.error}}
            <div id="err_mass">
                <span>{{messages.error}}</span>
            </div>
            {{/if}}
            <form action="/register" method="POST">
                <div class="register_fuild">
                    <div class="fuild_item_1">
                        <div class="input_item">
                            <i class="fas fa-user icon"></i>
                            <input type="text" placeholder="Name" name="name">
                        </div>
                        <div class="input_item">
                            <i class="fas fa-envelope icon"></i>
                            <input type="text" placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="fuild_item_2">
                        <div class="input_item">
                            <i class="fas fa-lock icon"></i>
                            <input type="password" placeholder="Password" id="password" name="password">
                            <i class="fas fa-eye show"></i>
                        </div>
                        <div class="input_item">
                            <i class="fas fa-lock icon"></i>
                            <input type="password" placeholder="Confirm Password" id="password2"
                                name="confirm_password">
                            <i class="fas fa-eye show2"></i>
                        </div>
                    </div>
                </div>
                <button type="submit" class="register_btn">Register</button>
            </form>
            <div class="btn_2">
                <p>I have an account</p>
                <a href="/login">log in</a>
            </div>
        </div>
    </section>
    <!--===================================
        login sectoion end
    =================================== -->